/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://wallpaperaccess.com/full/99807.jpg');
    background-size: cover;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure content is centered vertically even with minimal content */
}

.main-content {
    background-color: rgba(255, 255, 255, 0); /* Semi-opaque white background */
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 80%; /* Limit content width */
    max-width: 600px; /* Set a maximum width to prevent content from becoming too wide */
    margin: 0 auto; /* Center horizontally */
}

.menu-button {
    position: absolute;
    top: 2%;
    left: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #fff;
    transition: 0.4s;
}

.menu-button:hover .line {
    background-color: #EE82EE; /* Change color on hover */
}

.menu-options {
    position: absolute;
    top: 0;
    left: -100%;
    width: 15%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out; /* Add a transition for smooth sliding */
    pointer-events: none; /* Initially, disable pointer events */
}

.menu-options ul {
    list-style-type: none;
    margin: 20;
    padding: 0;
}

.menu-options li {
    padding: 10px 0;
}

.menu-options a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    transition: color 0.3s;
}

.menu-options a:hover {
    color: #000000;
}

.menu-button.active + .menu-options {
    left: 0;
    pointer-events: auto; /* Enable pointer events when the menu is active */
}



.footer-ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-us a,
.license {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.contact-us a:hover {
    text-decoration: underline;
}

.email-options {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}

.email-options p {
    font-weight: bold;
}

.email-options a {
    text-decoration: none;
    margin: 5px 0;
    color: #007BFF;
}

.email-options a:hover {
    text-decoration: underline;
}

