/* Reset some default browser styles */
html, body, h1 {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('https://wallpaperaccess.com/full/99807.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    align-items: center;
}

header {
    text-align: center;
    background-image: linear-gradient(to bottom, #a86f20, #ffffff); /* Replace #ffffff with the color you want at the bottom */
    padding: 20px;
}

.story-list {
    font-size: larger;
    align-self: center;
    list-style: none;
    padding: 0;
}

.story-list li {
    margin: 10px 0;
}

.story-list a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.story-list a:hover {
    color: #FF5722; /* Change to your preferred hover color */
}
