/* Add styles for the background image */
body {
    margin: 0;
    padding: 0;
    background-image: url('https://wallpaperaccess.com/full/99807.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the large centered text */
h1 {
    color: #563C5C;
    font-size: 45px;
    text-align: center;
}

/* Style for the curved button */
.button {
    background-color: #563C5C;
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 50px; /* Add border-radius to make it curved */
}

.button:hover {
    background-color: 	#B284BE; /* Change to green on hover */
    border-radius: 10px; /* Change border-radius on hover */
    transform: scale(1.05); /* Add a slight scale animation on hover */
}
